# dependencies
node_modules
# misc
.DS_Store
*.pem
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/puppeteer/chrome/win64-1108766/chrome-win/112.0.5614.0.manifest
.cache/puppeteer/chrome/win64-1108766/chrome-win/chrome_100_percent.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/chrome_200_percent.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/chrome_elf.dll
.cache/puppeteer/chrome/win64-1108766/chrome-win/chrome_proxy.exe
.cache/puppeteer/chrome/win64-1108766/chrome-win/chrome_pwa_launcher.exe
.cache/puppeteer/chrome/win64-1108766/chrome-win/chrome_wer.dll
.cache/puppeteer/chrome/win64-1108766/chrome-win/chrome.dll
.cache/puppeteer/chrome/win64-1108766/chrome-win/chrome.exe
.cache/puppeteer/chrome/win64-1108766/chrome-win/D3DCompiler_47.dll
.cache/puppeteer/chrome/win64-1108766/chrome-win/elevation_service.exe
.cache/puppeteer/chrome/win64-1108766/chrome-win/eventlog_provider.dll
.cache/puppeteer/chrome/win64-1108766/chrome-win/First Run
.cache/puppeteer/chrome/win64-1108766/chrome-win/icudtl.dat
.cache/puppeteer/chrome/win64-1108766/chrome-win/interactive_ui_tests.exe
.cache/puppeteer/chrome/win64-1108766/chrome-win/libEGL.dll
.cache/puppeteer/chrome/win64-1108766/chrome-win/libGLESv2.dll
.cache/puppeteer/chrome/win64-1108766/chrome-win/mojo_core.dll
.cache/puppeteer/chrome/win64-1108766/chrome-win/nacl_irt_x86_64.nexe
.cache/puppeteer/chrome/win64-1108766/chrome-win/notification_helper.exe
.cache/puppeteer/chrome/win64-1108766/chrome-win/resources.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/v8_context_snapshot.bin
.cache/puppeteer/chrome/win64-1108766/chrome-win/vk_swiftshader_icd.json
.cache/puppeteer/chrome/win64-1108766/chrome-win/vk_swiftshader.dll
.cache/puppeteer/chrome/win64-1108766/chrome-win/vulkan-1.dll
.cache/puppeteer/chrome/win64-1108766/chrome-win/MEIPreload/manifest.json
.cache/puppeteer/chrome/win64-1108766/chrome-win/MEIPreload/preloaded_data.pb
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/af.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/am.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/ar-XB.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/ar.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/bg.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/bn.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/ca.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/cs.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/da.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/de.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/el.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/en-GB.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/en-US.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/en-XA.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/es-419.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/es.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/et.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/fa.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/fi.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/fil.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/fr.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/gu.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/he.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/hi.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/hr.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/hu.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/id.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/it.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/ja.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/kn.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/ko.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/lt.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/lv.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/ml.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/mr.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/ms.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/nb.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/nl.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/pl.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/pt-BR.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/pt-PT.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/ro.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/ru.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/sk.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/sl.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/sr.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/sv.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/sw.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/ta.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/te.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/th.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/tr.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/uk.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/ur.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/vi.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/zh-CN.pak
.cache/puppeteer/chrome/win64-1108766/chrome-win/locales/zh-TW.pak
